
@import url(common.css);

.connect-Us{
    margin-top: 150px;
}
.connect_us_card{
    background: #fff;
    border-radius: 20px 0 0 20px;
    border-right: 150px solid var(--theme-color-2);
    padding: 50px
}
.connect_us_card ul li{
    list-style: none;
    float: left;
}
.connect_us_card ul li iframe{
    float: left;
}

.connect_us_card ul{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: left;
}

.connect_us_card ul li i{
    font-size: 25px;
    display: block;
    color: #fff;
    background: var(--theme-color);
    padding: 10px 16px;
    border-radius: 50px;
    margin: 8px 20px 0 0;
}
